


  <div class="tweet js-stream-tweet js-actionable-tweet js-profile-popup-actionable dismissible-content
       original-tweet js-original-tweet
      
      
       has-cards Tweet--invertedColors has-content
"
      
data-tweet-id="1001531351324127232"
data-item-id="1001531351324127232"
data-permalink-path="/Bourdain/status/1001531351324127232"
data-conversation-id="1001531351324127232"




data-tweet-nonce="1001531351324127232-08ac16a1-d14e-40c8-a540-a7539b942331"







  data-screen-name="Bourdain" data-name="Anthony Bourdain" data-user-id="14353392"
  data-you-follow="false"
  data-follows-you="false"
  data-you-block="false"
 data-mentions="PartsUnknownCNN AsiaArgento dukefeng52"

data-reply-to-users-json="[{&quot;id_str&quot;:&quot;14353392&quot;,&quot;screen_name&quot;:&quot;Bourdain&quot;,&quot;name&quot;:&quot;Anthony Bourdain&quot;,&quot;emojified_name&quot;:{&quot;text&quot;:&quot;Anthony Bourdain&quot;,&quot;emojified_text_as_html&quot;:&quot;Anthony Bourdain&quot;}},{&quot;id_str&quot;:&quot;930223086&quot;,&quot;screen_name&quot;:&quot;PartsUnknownCNN&quot;,&quot;name&quot;:&quot;Parts Unknown&quot;,&quot;emojified_name&quot;:{&quot;text&quot;:&quot;Parts Unknown&quot;,&quot;emojified_text_as_html&quot;:&quot;Parts Unknown&quot;}},{&quot;id_str&quot;:&quot;2728087144&quot;,&quot;screen_name&quot;:&quot;AsiaArgento&quot;,&quot;name&quot;:&quot;AsiaArgento2&quot;,&quot;emojified_name&quot;:{&quot;text&quot;:&quot;AsiaArgento2&quot;,&quot;emojified_text_as_html&quot;:&quot;AsiaArgento2&quot;}},{&quot;id_str&quot;:&quot;2477879210&quot;,&quot;screen_name&quot;:&quot;dukefeng52&quot;,&quot;name&quot;:&quot;Christopher Doyle\u675c\u53ef\u98a8&quot;,&quot;emojified_name&quot;:{&quot;text&quot;:&quot;Christopher Doyle\u675c\u53ef\u98a8&quot;,&quot;emojified_text_as_html&quot;:&quot;Christopher Doyle\u675c\u53ef\u98a8&quot;}}]"







data-disclosure-type=""




 data-has-cards="true"

















    >

    <div class="context">
      
      
    </div>

    <div class="content">
      

      

      
      <div class="stream-item-header">
          <a  class="account-group js-account-group js-action-profile js-user-profile-link js-nav" href="/Bourdain" data-user-id="14353392">
      <img class="avatar js-action-profile-avatar" src="https://pbs.twimg.com/profile_images/855122963674390529/0AMZgedO_bigger.jpg" alt="">
    <span class="FullNameGroup">
      <strong class="fullname show-popup-with-id u-textTruncate " data-aria-label-part>Anthony Bourdain</strong><span>&rlm;</span><span class="UserBadges"><span class="Icon Icon--verified"><span class="u-hiddenVisually">Verified account</span></span></span><span class="UserNameBreak">&nbsp;</span></span><span class="username u-dir u-textTruncate" dir="ltr" data-aria-label-part>@<b>Bourdain</b></span></a>

        
        <small class="time">
  <a href="/Bourdain/status/1001531351324127232" class="tweet-timestamp js-permalink js-nav js-tooltip" title="11:30 AM - 29 May 2018"  data-conversation-id="1001531351324127232"><span class="_timestamp js-short-timestamp " data-aria-label-part="last" data-time="1527618656" data-time-ms="1527618656000" data-long-form="true">29 May 2018</span></a>
</small>

          <div class="ProfileTweet-action ProfileTweet-action--more js-more-ProfileTweet-actions">
    <div class="dropdown">
  <button class="ProfileTweet-actionButton u-textUserColorHover dropdown-toggle js-dropdown-toggle" type="button">
      <div class="IconContainer js-tooltip" title="More">
        <span class="Icon Icon--caretDownLight Icon--small"></span>
        <span class="u-hiddenVisually">More</span>
      </div>
  </button>
  <div class="dropdown-menu is-autoCentered">
  <div class="dropdown-caret">
    <div class="caret-outer"></div>
    <div class="caret-inner"></div>
  </div>
  <ul>
    
      <li class="copy-link-to-tweet js-actionCopyLinkToTweet">
        <button type="button" class="dropdown-link">Copy link to Tweet</button>
      </li>
      <li class="embed-link js-actionEmbedTweet" data-nav="embed_tweet">
        <button type="button" class="dropdown-link">Embed Tweet</button>
      </li>
  </ul>
</div>

</div>

  </div>

      </div>

      

      


      
        <div class="js-tweet-text-container">
  <p class="TweetTextSize  js-tweet-text tweet-text" lang="en" data-aria-label-part="0">Crew photo from this Sunday’s epic HONG KONG <a href="/PartsUnknownCNN" class="twitter-atreply pretty-link js-nav" dir="ltr" data-mentioned-user-id="930223086" ><s>@</s><b>PartsUnknownCNN</b></a> Directed by <a href="/AsiaArgento" class="twitter-atreply pretty-link js-nav" dir="ltr" data-mentioned-user-id="2728087144" ><s>@</s><b>AsiaArgento</b></a> Director of Photography <a href="/dukefeng52" class="twitter-atreply pretty-link js-nav" dir="ltr" data-mentioned-user-id="2477879210" ><s>@</s><b>dukefeng52</b></a> (Christopher Doyle)<a href="https://t.co/iV5mq23o0w" class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" >pic.twitter.com/iV5mq23o0w</a></p>
</div>


      

      
            <div class="AdaptiveMediaOuterContainer">
    <div class="AdaptiveMedia
        
        is-square
        
        
        
        "
      >
      <div class="AdaptiveMedia-container">
          <div class="AdaptiveMedia-singlePhoto"
    style="padding-top: calc(0.5622263914946842 * 100% - 0.5px);"
>
    <div class="AdaptiveMedia-photoContainer js-adaptive-photo "
  data-image-url="https://pbs.twimg.com/media/DeYnc1GWsAEbkrJ.jpg"
  
  
  data-element-context="platform_photo_card"
    style="background-color:rgba(64,56,52,1.0);"
    data-dominant-color="[64,56,52]"
>
  <img data-aria-label-part src="https://pbs.twimg.com/media/DeYnc1GWsAEbkrJ.jpg" alt=""
      style="width: 100%; top: -0px;"
>
</div>


</div>
      </div>
    </div>
  </div>




      
      

      
      <div class="stream-item-footer">
  
      <div class="ProfileTweet-actionCountList u-hiddenVisually">
    
    
    <span class="ProfileTweet-action--reply u-hiddenVisually">
      <span class="ProfileTweet-actionCount"  data-tweet-stat-count="93">
        <span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-reply-count-aria-1001531351324127232" data-aria-label-part>93 replies</span>
      </span>
    </span>
    <span class="ProfileTweet-action--retweet u-hiddenVisually">
      <span class="ProfileTweet-actionCount"  data-tweet-stat-count="239">
        <span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-retweet-count-aria-1001531351324127232" data-aria-label-part>239 retweets</span>
      </span>
    </span>
    <span class="ProfileTweet-action--favorite u-hiddenVisually">
      <span class="ProfileTweet-actionCount"  data-tweet-stat-count="2651">
        <span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-favorite-count-aria-1001531351324127232" data-aria-label-part>2,651 likes</span>
      </span>
    </span>
  </div>

  <div class="ProfileTweet-actionList js-actions" role="group" aria-label="Tweet actions">
    <div class="ProfileTweet-action ProfileTweet-action--reply">
  <button class="ProfileTweet-actionButton js-actionButton js-actionReply"
    data-modal="ProfileTweet-reply" type="button"
    aria-describedby="profile-tweet-action-reply-count-aria-1001531351324127232">
    <div class="IconContainer js-tooltip" title="Reply">
      <span class="Icon Icon--medium Icon--reply"></span>
      <span class="u-hiddenVisually">Reply</span>
    </div>
      <span class="ProfileTweet-actionCount ">
        <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
      </span>
  </button>
</div>

    <div class="ProfileTweet-action ProfileTweet-action--retweet js-toggleState js-toggleRt">
  <button class="ProfileTweet-actionButton  js-actionButton js-actionRetweet"
    
    data-modal="ProfileTweet-retweet"
    type="button"
    aria-describedby="profile-tweet-action-retweet-count-aria-1001531351324127232">
    <div class="IconContainer js-tooltip" title="Retweet">
      <span class="Icon Icon--medium Icon--retweet"></span>
      <span class="u-hiddenVisually">Retweet</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
  </span>

  </button><button class="ProfileTweet-actionButtonUndo js-actionButton js-actionRetweet" data-modal="ProfileTweet-retweet" type="button">
    <div class="IconContainer js-tooltip" title="Undo retweet">
      <span class="Icon Icon--medium Icon--retweet"></span>
      <span class="u-hiddenVisually">Retweeted</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
  </span>

  </button>
</div>


    <div class="ProfileTweet-action ProfileTweet-action--favorite js-toggleState">
  <button class="ProfileTweet-actionButton js-actionButton js-actionFavorite" type="button"
    aria-describedby="profile-tweet-action-favorite-count-aria-1001531351324127232">
    <div class="IconContainer js-tooltip" title="Like">
      <span role="presentation" class="Icon Icon--heart Icon--medium"></span>
      <div class="HeartAnimation"></div>
      <span class="u-hiddenVisually">Like</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
  </span>

  </button><button class="ProfileTweet-actionButtonUndo ProfileTweet-action--unfavorite u-linkClean js-actionButton js-actionFavorite" type="button">
    <div class="IconContainer js-tooltip" title="Undo like">
      <span role="presentation" class="Icon Icon--heart Icon--medium"></span>
      <div class="HeartAnimation"></div>
      <span class="u-hiddenVisually">Liked</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
  </span>

  </button>
</div>


    

    

  </div>

</div>
  



      
      

      

      

    </div>

  </div>


