


  <div class="tweet js-stream-tweet js-actionable-tweet js-profile-popup-actionable dismissible-content
       original-tweet js-original-tweet
      
      
       has-cards Tweet--invertedColors has-content
"
      
data-tweet-id="1013830431928737793"
data-item-id="1013830431928737793"
data-permalink-path="/jschlatt/status/1013830431928737793"
data-conversation-id="1013830431928737793"




data-tweet-nonce="1013830431928737793-66cc29f1-80fd-4703-866c-e8ef05d35e78"
data-tweet-stat-initialized="true"






  data-screen-name="jschlatt" data-name="Schlatt" data-user-id="4694011844"
  data-you-follow="false"
  data-follows-you="false"
  data-you-block="false"


data-reply-to-users-json="[{&quot;id_str&quot;:&quot;4694011844&quot;,&quot;screen_name&quot;:&quot;jschlatt&quot;,&quot;name&quot;:&quot;Schlatt&quot;,&quot;emojified_name&quot;:{&quot;text&quot;:&quot;Schlatt&quot;,&quot;emojified_text_as_html&quot;:&quot;Schlatt&quot;}}]"







data-disclosure-type=""




 data-has-cards="true"

















    >

    <div class="context">
      
      
    </div>

    <div class="content">
      

      

      
      <div class="stream-item-header">
          <a  class="account-group js-account-group js-action-profile js-user-profile-link js-nav" href="/jschlatt" data-user-id="4694011844">
      <img class="avatar js-action-profile-avatar" src="https://pbs.twimg.com/profile_images/1104281298967904257/KuDWZQfF_bigger.png" alt="">
    <span class="FullNameGroup">
      <strong class="fullname show-popup-with-id u-textTruncate " data-aria-label-part>Schlatt</strong><span>&rlm;</span><span class="UserBadges"></span><span class="UserNameBreak">&nbsp;</span></span><span class="username u-dir u-textTruncate" dir="ltr" data-aria-label-part>@<b>jschlatt</b></span></a>

        
        <small class="time">
  <a href="/jschlatt/status/1013830431928737793" class="tweet-timestamp js-permalink js-nav js-tooltip" title="10:03 ಪೂರ್ವಾಹ್ನ - ಜುಲೈ 2,2018"  data-conversation-id="1013830431928737793"><span class="_timestamp js-short-timestamp " data-aria-label-part="last" data-time="1530550985" data-time-ms="1530550985000" data-long-form="true">ಜುಲೈ 2,2018</span></a>
</small>

          <div class="ProfileTweet-action ProfileTweet-action--more js-more-ProfileTweet-actions">
    <div class="dropdown">
  <button class="ProfileTweet-actionButton u-textUserColorHover dropdown-toggle js-dropdown-toggle" type="button">
      <div class="IconContainer js-tooltip" title="ಇನ್ನಷ್ಟು">
        <span class="Icon Icon--caretDownLight Icon--small"></span>
        <span class="u-hiddenVisually">ಇನ್ನಷ್ಟು</span>
      </div>
  </button>
  <div class="dropdown-menu is-autoCentered">
  <div class="dropdown-caret">
    <div class="caret-outer"></div>
    <div class="caret-inner"></div>
  </div>
  <ul>
    
      <li class="copy-link-to-tweet js-actionCopyLinkToTweet">
        <button type="button" class="dropdown-link">ಟ್ವೀಟ್ ಮಾಡಲು ಲಿಂಕ್ ನಕಲಿಸಿ</button>
      </li>
      <li class="embed-link js-actionEmbedTweet" data-nav="embed_tweet">
        <button type="button" class="dropdown-link">ಟ್ವೀಟ್ ಎಂಬೆಡ್ ಮಾಡಿ</button>
      </li>
  </ul>
</div>

</div>

  </div>

      </div>

      

      


      
        <div class="js-tweet-text-container">
  <p class="TweetTextSize  js-tweet-text tweet-text" lang="en" data-aria-label-part="0">Okay, this is epic<a href="https://t.co/FH7O74Qs0L" class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" >pic.twitter.com/FH7O74Qs0L</a></p>
</div>


      

      
            <div class="AdaptiveMediaOuterContainer">
    <div class="AdaptiveMedia
        
        is-square
        
        
        
        "
      >
      <div class="AdaptiveMedia-container">
          <div class="AdaptiveMedia-singlePhoto"
    style="padding-top: calc(0.5625 * 100% - 0.5px);"
>
    <div class="AdaptiveMedia-photoContainer js-adaptive-photo "
  data-image-url="https://pbs.twimg.com/media/DhHZZjmWsAAZTGD.jpg"
  
  
  data-element-context="platform_photo_card"
    style="background-color:rgba(64,46,43,1.0);"
    data-dominant-color="[64,46,43]"
>
  <img data-aria-label-part src="https://pbs.twimg.com/media/DhHZZjmWsAAZTGD.jpg" alt=""
      style="width: 100%; top: -0px;"
>
</div>


</div>
      </div>
    </div>
  </div>




      
      

      
      <div class="stream-item-footer">
  
      <div class="ProfileTweet-actionCountList u-hiddenVisually">
    
    
    <span class="ProfileTweet-action--reply u-hiddenVisually">
      <span class="ProfileTweet-actionCount"  data-tweet-stat-count="7">
        <span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-reply-count-aria-1013830431928737793" data-aria-label-part>7 replies</span>
      </span>
    </span>
    <span class="ProfileTweet-action--retweet u-hiddenVisually">
      <span class="ProfileTweet-actionCount"  data-tweet-stat-count="4">
        <span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-retweet-count-aria-1013830431928737793" data-aria-label-part>4 ಮರುಟ್ವೀಟಿಸುವಿಕೆಗಳು</span>
      </span>
    </span>
    <span class="ProfileTweet-action--favorite u-hiddenVisually">
      <span class="ProfileTweet-actionCount"  data-tweet-stat-count="106">
        <span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-favorite-count-aria-1013830431928737793" data-aria-label-part>106ಇಷ್ಟಗಳು</span>
      </span>
    </span>
  </div>

  <div class="ProfileTweet-actionList js-actions" role="group" aria-label="ಟ್ವೀಟ್ ಕ್ರಿಯೆಗಳು">
    <div class="ProfileTweet-action ProfileTweet-action--reply">
  <button class="ProfileTweet-actionButton js-actionButton js-actionReply"
    data-modal="ProfileTweet-reply" type="button"
    aria-describedby="profile-tweet-action-reply-count-aria-1013830431928737793">
    <div class="IconContainer js-tooltip" title="ಪ್ರತಿಕ್ರಿಯಿಸಿ">
      <span class="Icon Icon--medium Icon--reply"></span>
      <span class="u-hiddenVisually">ಪ್ರತಿಕ್ರಿಯಿಸಿ</span>
    </div>
      <span class="ProfileTweet-actionCount ">
        <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">7</span>
      </span>
  </button>
</div>

    <div class="ProfileTweet-action ProfileTweet-action--retweet js-toggleState js-toggleRt">
  <button class="ProfileTweet-actionButton  js-actionButton js-actionRetweet"
    
    data-modal="ProfileTweet-retweet"
    type="button"
    aria-describedby="profile-tweet-action-retweet-count-aria-1013830431928737793">
    <div class="IconContainer js-tooltip" title="ಮರುಟ್ವೀಟಿಸಿ">
      <span class="Icon Icon--medium Icon--retweet"></span>
      <span class="u-hiddenVisually">ಮರುಟ್ವೀಟಿಸಿ</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">4</span>
  </span>

  </button><button class="ProfileTweet-actionButtonUndo js-actionButton js-actionRetweet" data-modal="ProfileTweet-retweet" type="button">
    <div class="IconContainer js-tooltip" title="ಮರುಟ್ವೀಟ್ ರದ್ದುಗೊಳಿಸು">
      <span class="Icon Icon--medium Icon--retweet"></span>
      <span class="u-hiddenVisually">ಮರುಟ್ವೀಟಿಸಲಾಗಿದೆ</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">4</span>
  </span>

  </button>
</div>


    <div class="ProfileTweet-action ProfileTweet-action--favorite js-toggleState">
  <button class="ProfileTweet-actionButton js-actionButton js-actionFavorite" type="button"
    aria-describedby="profile-tweet-action-favorite-count-aria-1013830431928737793">
    <div class="IconContainer js-tooltip" title="ಇಷ್ಟಪಡಿ">
      <span role="presentation" class="Icon Icon--heart Icon--medium"></span>
      <div class="HeartAnimation"></div>
      <span class="u-hiddenVisually">ಇಷ್ಟಪಡಿ</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">106</span>
  </span>

  </button><button class="ProfileTweet-actionButtonUndo ProfileTweet-action--unfavorite u-linkClean js-actionButton js-actionFavorite" type="button">
    <div class="IconContainer js-tooltip" title="Undo like">
      <span role="presentation" class="Icon Icon--heart Icon--medium"></span>
      <div class="HeartAnimation"></div>
      <span class="u-hiddenVisually">ಇಷ್ಟಪಡಲಾಗಿದೆ</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">106</span>
  </span>

  </button>
</div>


    

    

  </div>

</div>
  



      
      

      
        <div class="self-thread-context">
  ಈ ಥ್ರೆಡ್ ತೋರಿಸಿ
</div>


      

    </div>

  </div>


