


  <div class="tweet js-stream-tweet js-actionable-tweet js-profile-popup-actionable dismissible-content
       original-tweet js-original-tweet
      
      
       has-cards Tweet--invertedColors has-content
"
      
data-tweet-id="1016684366083190785"
data-item-id="1016684366083190785"
data-permalink-path="/elonmusk/status/1016684366083190785"
data-conversation-id="1016557719539605504"

 data-is-reply-to="true" 
 data-has-parent-tweet="true" 

data-tweet-nonce="1016684366083190785-e6b2c49d-f9b8-4244-8da6-0057517b3628"







  data-screen-name="elonmusk" data-name="Elon Musk" data-user-id="44196397"
  data-you-follow="false"
  data-follows-you="false"
  data-you-block="false"
 data-mentions="BBCWorld"

data-reply-to-users-json="[{&quot;id_str&quot;:&quot;44196397&quot;,&quot;screen_name&quot;:&quot;elonmusk&quot;,&quot;name&quot;:&quot;Elon Musk&quot;,&quot;emojified_name&quot;:{&quot;text&quot;:&quot;Elon Musk&quot;,&quot;emojified_text_as_html&quot;:&quot;Elon Musk&quot;}},{&quot;id_str&quot;:&quot;742143&quot;,&quot;screen_name&quot;:&quot;BBCWorld&quot;,&quot;name&quot;:&quot;BBC News (World)&quot;,&quot;emojified_name&quot;:{&quot;text&quot;:&quot;BBC News (World)&quot;,&quot;emojified_text_as_html&quot;:&quot;BBC News (World)&quot;}}]"







data-disclosure-type=""




 data-has-cards="true"

















    >

    <div class="context">
      
      
    </div>

    <div class="content">
      

      

      
      <div class="stream-item-header">
          <a  class="account-group js-account-group js-action-profile js-user-profile-link js-nav" href="/elonmusk" data-user-id="44196397">
      <img class="avatar js-action-profile-avatar" src="https://pbs.twimg.com/profile_images/1255961776035729408/0AjDFNaf_bigger.jpg" alt="">
    <span class="FullNameGroup">
      <strong class="fullname show-popup-with-id u-textTruncate " data-aria-label-part>Elon Musk</strong><span>&rlm;</span><span class="UserBadges"><span class="Icon Icon--verified"><span class="u-hiddenVisually">Cuenta verificada</span></span></span><span class="UserNameBreak">&nbsp;</span></span><span class="username u-dir u-textTruncate" dir="ltr" data-aria-label-part>@<b>elonmusk</b></span></a>

        
        <small class="time">
  <a href="/elonmusk/status/1016684366083190785" class="tweet-timestamp js-permalink js-nav js-tooltip" title="7:03 - 10 jul. 2018"  data-conversation-id="1016557719539605504"><span class="_timestamp js-short-timestamp " data-aria-label-part="last" data-time="1531231416" data-time-ms="1531231416000" data-long-form="true">10 jul. 2018</span></a>
</small>

          <div class="ProfileTweet-action ProfileTweet-action--more js-more-ProfileTweet-actions">
    <div class="dropdown">
  <button class="ProfileTweet-actionButton u-textUserColorHover dropdown-toggle js-dropdown-toggle" type="button">
      <div class="IconContainer js-tooltip" title="Más">
        <span class="Icon Icon--caretDownLight Icon--small"></span>
        <span class="u-hiddenVisually">Más</span>
      </div>
  </button>
  <div class="dropdown-menu is-autoCentered">
  <div class="dropdown-caret">
    <div class="caret-outer"></div>
    <div class="caret-inner"></div>
  </div>
  <ul>
    
      <li class="copy-link-to-tweet js-actionCopyLinkToTweet">
        <button type="button" class="dropdown-link">Copiar enlace del Tweet</button>
      </li>
      <li class="embed-link js-actionEmbedTweet" data-nav="embed_tweet">
        <button type="button" class="dropdown-link">Insertar Tweet</button>
      </li>
  </ul>
</div>

</div>

  </div>

      </div>

      

      

        <div class="ReplyingToContextBelowAuthor" data-aria-label-part>
    En respuesta a <a class="pretty-link js-user-profile-link" href="/BBCWorld" data-user-id="742143" rel="noopener" dir="ltr"><span class="username u-dir u-textTruncate" dir="ltr" >@<b>BBCWorld</b></span></a>



</div>


      
        <div class="js-tweet-text-container">
  <p class="TweetTextSize  js-tweet-text tweet-text" lang="en" data-aria-label-part="0">The former Thai provincial governor (described inaccurately as “rescue chief”) is not the subject matter expert. That would be Dick Stanton, who co-led the dive rescue team. This is our direct correspondence:<a href="https://t.co/dmC9l3jiZR" class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" >pic.twitter.com/dmC9l3jiZR</a></p>
</div>


      

      
            <div class="AdaptiveMediaOuterContainer">
    <div class="AdaptiveMedia
        
        is-square
        
        
        
        "
      >
      <div class="AdaptiveMedia-container">
          <div class="AdaptiveMedia-singlePhoto"
    style="padding-top: calc(0.8507462686567164 * 100% - 0.5px);"
>
    <div class="AdaptiveMedia-photoContainer js-adaptive-photo "
  data-image-url="https://pbs.twimg.com/media/Dhv9BppUwAArP8X.jpg"
  
  
  data-element-context="platform_photo_card"
    style="background-color:rgba(64,64,64,1.0);"
    data-dominant-color="[64,64,64]"
>
  <img data-aria-label-part src="https://pbs.twimg.com/media/Dhv9BppUwAArP8X.jpg" alt=""
      style="width: 100%; top: -0px;"
>
</div>


</div>
      </div>
    </div>
  </div>




      
      

      
      <div class="stream-item-footer">
  
      <div class="ProfileTweet-actionCountList u-hiddenVisually">
    
    
    <span class="ProfileTweet-action--reply u-hiddenVisually">
      <span class="ProfileTweet-actionCount"  data-tweet-stat-count="966">
        <span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-reply-count-aria-1016684366083190785" data-aria-label-part>966 respuestas</span>
      </span>
    </span>
    <span class="ProfileTweet-action--retweet u-hiddenVisually">
      <span class="ProfileTweet-actionCount"  data-tweet-stat-count="4222">
        <span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-retweet-count-aria-1016684366083190785" data-aria-label-part>4.222 retweets</span>
      </span>
    </span>
    <span class="ProfileTweet-action--favorite u-hiddenVisually">
      <span class="ProfileTweet-actionCount"  data-tweet-stat-count="30559">
        <span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-favorite-count-aria-1016684366083190785" data-aria-label-part>30.559 Me gusta</span>
      </span>
    </span>
  </div>

  <div class="ProfileTweet-actionList js-actions" role="group" aria-label="Acciones del Tweet">
    <div class="ProfileTweet-action ProfileTweet-action--reply">
  <button class="ProfileTweet-actionButton js-actionButton js-actionReply"
    data-modal="ProfileTweet-reply" type="button"
    aria-describedby="profile-tweet-action-reply-count-aria-1016684366083190785">
    <div class="IconContainer js-tooltip" title="Responder">
      <span class="Icon Icon--medium Icon--reply"></span>
      <span class="u-hiddenVisually">Responder</span>
    </div>
      <span class="ProfileTweet-actionCount ">
        <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
      </span>
  </button>
</div>

    <div class="ProfileTweet-action ProfileTweet-action--retweet js-toggleState js-toggleRt">
  <button class="ProfileTweet-actionButton  js-actionButton js-actionRetweet"
    
    data-modal="ProfileTweet-retweet"
    type="button"
    aria-describedby="profile-tweet-action-retweet-count-aria-1016684366083190785">
    <div class="IconContainer js-tooltip" title="Retwittear">
      <span class="Icon Icon--medium Icon--retweet"></span>
      <span class="u-hiddenVisually">Retwittear</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
  </span>

  </button><button class="ProfileTweet-actionButtonUndo js-actionButton js-actionRetweet" data-modal="ProfileTweet-retweet" type="button">
    <div class="IconContainer js-tooltip" title="Deshacer Retweet">
      <span class="Icon Icon--medium Icon--retweet"></span>
      <span class="u-hiddenVisually">Retwitteado</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
  </span>

  </button>
</div>


    <div class="ProfileTweet-action ProfileTweet-action--favorite js-toggleState">
  <button class="ProfileTweet-actionButton js-actionButton js-actionFavorite" type="button"
    aria-describedby="profile-tweet-action-favorite-count-aria-1016684366083190785">
    <div class="IconContainer js-tooltip" title="Me gusta">
      <span role="presentation" class="Icon Icon--heart Icon--medium"></span>
      <div class="HeartAnimation"></div>
      <span class="u-hiddenVisually">Me gusta</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
  </span>

  </button><button class="ProfileTweet-actionButtonUndo ProfileTweet-action--unfavorite u-linkClean js-actionButton js-actionFavorite" type="button">
    <div class="IconContainer js-tooltip" title="Deshacer me gusta">
      <span role="presentation" class="Icon Icon--heart Icon--medium"></span>
      <div class="HeartAnimation"></div>
      <span class="u-hiddenVisually">Gustado</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
  </span>

  </button>
</div>


    

    

  </div>

</div>
  



      
      

      

      

    </div>

  </div>


