


  <div class="tweet js-stream-tweet js-actionable-tweet js-profile-popup-actionable dismissible-content
       original-tweet js-original-tweet
      
      
       has-cards Tweet--invertedColors has-content
"
      
data-tweet-id="1016373750395277313"
data-item-id="1016373750395277313"
data-permalink-path="/BorisJohnson/status/1016373750395277313"
data-conversation-id="1016373750395277313"




data-tweet-nonce="1016373750395277313-0151a2a3-41b1-415e-9dd2-b148c4025b36"







  data-screen-name="BorisJohnson" data-name="Boris Johnson #StayAlert" data-user-id="3131144855"
  data-you-follow="false"
  data-follows-you="false"
  data-you-block="false"


data-reply-to-users-json="[{&quot;id_str&quot;:&quot;3131144855&quot;,&quot;screen_name&quot;:&quot;BorisJohnson&quot;,&quot;name&quot;:&quot;Boris Johnson #StayAlert&quot;,&quot;emojified_name&quot;:{&quot;text&quot;:&quot;Boris Johnson #StayAlert&quot;,&quot;emojified_text_as_html&quot;:&quot;Boris Johnson #StayAlert&quot;}}]"







data-disclosure-type=""




 data-has-cards="true"

















    >

    <div class="context">
      
      
    </div>

    <div class="content">
      

      

      
      <div class="stream-item-header">
          <a  class="account-group js-account-group js-action-profile js-user-profile-link js-nav" href="/BorisJohnson" data-user-id="3131144855">
      <img class="avatar js-action-profile-avatar" src="https://pbs.twimg.com/profile_images/1200430685560983553/xRebdCDg_bigger.jpg" alt="">
    <span class="FullNameGroup">
      <strong class="fullname show-popup-with-id u-textTruncate " data-aria-label-part>Boris Johnson #StayAlert</strong><span>&rlm;</span><span class="UserBadges"><span class="Icon Icon--verified"><span class="u-hiddenVisually">Verified account</span></span></span><span class="UserNameBreak">&nbsp;</span></span><span class="username u-dir u-textTruncate" dir="ltr" data-aria-label-part>@<b>BorisJohnson</b></span></a>

        
        <small class="time">
  <a href="/BorisJohnson/status/1016373750395277313" class="tweet-timestamp js-permalink js-nav js-tooltip" title="10:29 AM - 9 Jul 2018"  data-conversation-id="1016373750395277313"><span class="_timestamp js-short-timestamp " data-aria-label-part="last" data-time="1531157360" data-time-ms="1531157360000" data-long-form="true">9 Jul 2018</span></a>
</small>

          <div class="ProfileTweet-action ProfileTweet-action--more js-more-ProfileTweet-actions">
    <div class="dropdown">
  <button class="ProfileTweet-actionButton u-textUserColorHover dropdown-toggle js-dropdown-toggle" type="button">
      <div class="IconContainer js-tooltip" title="More">
        <span class="Icon Icon--caretDownLight Icon--small"></span>
        <span class="u-hiddenVisually">More</span>
      </div>
  </button>
  <div class="dropdown-menu is-autoCentered">
  <div class="dropdown-caret">
    <div class="caret-outer"></div>
    <div class="caret-inner"></div>
  </div>
  <ul>
    
      <li class="copy-link-to-tweet js-actionCopyLinkToTweet">
        <button type="button" class="dropdown-link">Copy link to Tweet</button>
      </li>
      <li class="embed-link js-actionEmbedTweet" data-nav="embed_tweet">
        <button type="button" class="dropdown-link">Embed Tweet</button>
      </li>
  </ul>
</div>

</div>

  </div>

      </div>

      

      


      
        <div class="js-tweet-text-container">
  <p class="TweetTextSize  js-tweet-text tweet-text" lang="en" data-aria-label-part="0">I am proud to have served as Foreign Secretary. It is with sadness that I step down: here is my letter explaining why.<a href="https://t.co/NZXzUZCjdF" class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" >pic.twitter.com/NZXzUZCjdF</a></p>
</div>


      

      
            <div class="AdaptiveMediaOuterContainer">
    <div class="AdaptiveMedia
        
        
        
        
        
        "
      >
      <div class="AdaptiveMedia-container">
          <div class="AdaptiveMedia-doublePhoto">
    <div class="AdaptiveMedia-halfWidthPhoto">
      <div class="AdaptiveMedia-photoContainer js-adaptive-photo "
  data-image-url="https://pbs.twimg.com/media/DhrihIUX4AAFsab.jpg"
  
  
  data-element-context="platform_photo_card"
    style="background-color:rgba(48,57,64,1.0);"
    data-dominant-color="[48,57,64]"
>
  <img data-aria-label-part src="https://pbs.twimg.com/media/DhrihIUX4AAFsab.jpg" alt=""
      style="width: 100%; top: -50px;"
>
</div>


    </div>
    <div class="AdaptiveMedia-halfWidthPhoto">
      <div class="AdaptiveMedia-photoContainer js-adaptive-photo "
  data-image-url="https://pbs.twimg.com/media/Dhrih3rXUAAY4mO.jpg"
  
  
  data-element-context="platform_photo_card"
    style="background-color:rgba(63,64,58,1.0);"
    data-dominant-color="[63,64,58]"
>
  <img data-aria-label-part src="https://pbs.twimg.com/media/Dhrih3rXUAAY4mO.jpg" alt=""
      style="width: 100%; top: -46px;"
>
</div>


    </div>
</div>

      </div>
    </div>
  </div>




      
      

      
      <div class="stream-item-footer">
  
      <div class="ProfileTweet-actionCountList u-hiddenVisually">
    
    
    <span class="ProfileTweet-action--reply u-hiddenVisually">
      <span class="ProfileTweet-actionCount"  data-tweet-stat-count="4555">
        <span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-reply-count-aria-1016373750395277313" data-aria-label-part>4,555 replies</span>
      </span>
    </span>
    <span class="ProfileTweet-action--retweet u-hiddenVisually">
      <span class="ProfileTweet-actionCount"  data-tweet-stat-count="5504">
        <span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-retweet-count-aria-1016373750395277313" data-aria-label-part>5,504 retweets</span>
      </span>
    </span>
    <span class="ProfileTweet-action--favorite u-hiddenVisually">
      <span class="ProfileTweet-actionCount"  data-tweet-stat-count="13199">
        <span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-favorite-count-aria-1016373750395277313" data-aria-label-part>13,199 likes</span>
      </span>
    </span>
  </div>

  <div class="ProfileTweet-actionList js-actions" role="group" aria-label="Tweet actions">
    <div class="ProfileTweet-action ProfileTweet-action--reply">
  <button class="ProfileTweet-actionButton js-actionButton js-actionReply"
    data-modal="ProfileTweet-reply" type="button"
    aria-describedby="profile-tweet-action-reply-count-aria-1016373750395277313">
    <div class="IconContainer js-tooltip" title="Reply">
      <span class="Icon Icon--medium Icon--reply"></span>
      <span class="u-hiddenVisually">Reply</span>
    </div>
      <span class="ProfileTweet-actionCount ">
        <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
      </span>
  </button>
</div>

    <div class="ProfileTweet-action ProfileTweet-action--retweet js-toggleState js-toggleRt">
  <button class="ProfileTweet-actionButton  js-actionButton js-actionRetweet"
    
    data-modal="ProfileTweet-retweet"
    type="button"
    aria-describedby="profile-tweet-action-retweet-count-aria-1016373750395277313">
    <div class="IconContainer js-tooltip" title="Retweet">
      <span class="Icon Icon--medium Icon--retweet"></span>
      <span class="u-hiddenVisually">Retweet</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
  </span>

  </button><button class="ProfileTweet-actionButtonUndo js-actionButton js-actionRetweet" data-modal="ProfileTweet-retweet" type="button">
    <div class="IconContainer js-tooltip" title="Undo retweet">
      <span class="Icon Icon--medium Icon--retweet"></span>
      <span class="u-hiddenVisually">Retweeted</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
  </span>

  </button>
</div>


    <div class="ProfileTweet-action ProfileTweet-action--favorite js-toggleState">
  <button class="ProfileTweet-actionButton js-actionButton js-actionFavorite" type="button"
    aria-describedby="profile-tweet-action-favorite-count-aria-1016373750395277313">
    <div class="IconContainer js-tooltip" title="Like">
      <span role="presentation" class="Icon Icon--heart Icon--medium"></span>
      <div class="HeartAnimation"></div>
      <span class="u-hiddenVisually">Like</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
  </span>

  </button><button class="ProfileTweet-actionButtonUndo ProfileTweet-action--unfavorite u-linkClean js-actionButton js-actionFavorite" type="button">
    <div class="IconContainer js-tooltip" title="Undo like">
      <span role="presentation" class="Icon Icon--heart Icon--medium"></span>
      <div class="HeartAnimation"></div>
      <span class="u-hiddenVisually">Liked</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
  </span>

  </button>
</div>


    

    

  </div>

</div>
  



      
      

      

      

    </div>

  </div>


