


  <div class="tweet js-stream-tweet js-actionable-tweet js-profile-popup-actionable dismissible-content
       original-tweet js-original-tweet
      
      
       has-cards Tweet--invertedColors has-content
"
      
data-tweet-id="1017364353635508224"
data-item-id="1017364353635508224"
data-permalink-path="/elonmusk/status/1017364353635508224"
data-conversation-id="1017333757077008385"

 data-is-reply-to="true" 
 data-has-parent-tweet="true" 

data-tweet-nonce="1017364353635508224-7266cf70-2cc6-435c-b4a0-75c1f3fd0587"







  data-screen-name="elonmusk" data-name="Elon Musk" data-user-id="44196397"
  data-you-follow="false"
  data-follows-you="false"
  data-you-block="false"


data-reply-to-users-json="[{&quot;id_str&quot;:&quot;44196397&quot;,&quot;screen_name&quot;:&quot;elonmusk&quot;,&quot;name&quot;:&quot;Elon Musk&quot;,&quot;emojified_name&quot;:{&quot;text&quot;:&quot;Elon Musk&quot;,&quot;emojified_text_as_html&quot;:&quot;Elon Musk&quot;}}]"







data-disclosure-type=""




 data-has-cards="true"

















    >

    <div class="context">
      
      
    </div>

    <div class="content">
      

      

      
      <div class="stream-item-header">
          <a  class="account-group js-account-group js-action-profile js-user-profile-link js-nav" href="/elonmusk" data-user-id="44196397">
      <img class="avatar js-action-profile-avatar" src="https://pbs.twimg.com/profile_images/1276417699032137728/QGSGH8FZ_bigger.jpg" alt="">
    <span class="FullNameGroup">
      <strong class="fullname show-popup-with-id u-textTruncate " data-aria-label-part>Elon Musk</strong><span>&rlm;</span><span class="UserBadges"><span class="Icon Icon--verified"><span class="u-hiddenVisually">Verified account</span></span></span><span class="UserNameBreak">&nbsp;</span></span><span class="username u-dir u-textTruncate" dir="ltr" data-aria-label-part>@<b>elonmusk</b></span></a>

        
        <small class="time">
  <a href="/elonmusk/status/1017364353635508224" class="tweet-timestamp js-permalink js-nav js-tooltip" title="4:05 AM - 12 Jul 2018"  data-conversation-id="1017333757077008385"><span class="_timestamp js-short-timestamp " data-aria-label-part="last" data-time="1531393538" data-time-ms="1531393538000" data-long-form="true">12 Jul 2018</span></a>
</small>

          <div class="ProfileTweet-action ProfileTweet-action--more js-more-ProfileTweet-actions">
    <div class="dropdown">
  <button class="ProfileTweet-actionButton u-textUserColorHover dropdown-toggle js-dropdown-toggle" type="button">
      <div class="IconContainer js-tooltip" title="More">
        <span class="Icon Icon--caretDownLight Icon--small"></span>
        <span class="u-hiddenVisually">More</span>
      </div>
  </button>
  <div class="dropdown-menu is-autoCentered">
  <div class="dropdown-caret">
    <div class="caret-outer"></div>
    <div class="caret-inner"></div>
  </div>
  <ul>
    
      <li class="copy-link-to-tweet js-actionCopyLinkToTweet">
        <button type="button" class="dropdown-link">Copy link to Tweet</button>
      </li>
      <li class="embed-link js-actionEmbedTweet" data-nav="embed_tweet">
        <button type="button" class="dropdown-link">Embed Tweet</button>
      </li>
  </ul>
</div>

</div>

  </div>

      </div>

      

      


      
        <div class="js-tweet-text-container">
  <p class="TweetTextSize  js-tweet-text tweet-text" lang="en" data-aria-label-part="0">With my team after a profoundly interesting discussion of history, philosophy &amp; luck with Vice President Wang in 中南海紫光阁<a href="https://t.co/pHd52YTZD2" class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" >pic.twitter.com/pHd52YTZD2</a></p>
</div>


      

      
            <div class="AdaptiveMediaOuterContainer">
    <div class="AdaptiveMedia
        
        is-square
        
        
        
        "
      >
      <div class="AdaptiveMedia-container">
          <div class="AdaptiveMedia-singlePhoto"
    style="padding-top: calc(0.662109375 * 100% - 0.5px);"
>
    <div class="AdaptiveMedia-photoContainer js-adaptive-photo "
  data-image-url="https://pbs.twimg.com/media/Dh5nb8IWsAAqKcD.jpg"
  
  
  data-element-context="platform_photo_card"
    style="background-color:rgba(33,29,38,1.0);"
    data-dominant-color="[33,29,38]"
>
  <img data-aria-label-part src="https://pbs.twimg.com/media/Dh5nb8IWsAAqKcD.jpg" alt=""
      style="width: 100%; top: -0px;"
>
</div>


</div>
      </div>
    </div>
  </div>




      
      

      
      <div class="stream-item-footer">
  
      <div class="ProfileTweet-actionCountList u-hiddenVisually">
    
    
    <span class="ProfileTweet-action--reply u-hiddenVisually">
      <span class="ProfileTweet-actionCount"  data-tweet-stat-count="789">
        <span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-reply-count-aria-1017364353635508224" data-aria-label-part>789 replies</span>
      </span>
    </span>
    <span class="ProfileTweet-action--retweet u-hiddenVisually">
      <span class="ProfileTweet-actionCount"  data-tweet-stat-count="1463">
        <span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-retweet-count-aria-1017364353635508224" data-aria-label-part>1,463 retweets</span>
      </span>
    </span>
    <span class="ProfileTweet-action--favorite u-hiddenVisually">
      <span class="ProfileTweet-actionCount"  data-tweet-stat-count="23852">
        <span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-favorite-count-aria-1017364353635508224" data-aria-label-part>23,852 likes</span>
      </span>
    </span>
  </div>

  <div class="ProfileTweet-actionList js-actions" role="group" aria-label="Tweet actions">
    <div class="ProfileTweet-action ProfileTweet-action--reply">
  <button class="ProfileTweet-actionButton js-actionButton js-actionReply"
    data-modal="ProfileTweet-reply" type="button"
    aria-describedby="profile-tweet-action-reply-count-aria-1017364353635508224">
    <div class="IconContainer js-tooltip" title="Reply">
      <span class="Icon Icon--medium Icon--reply"></span>
      <span class="u-hiddenVisually">Reply</span>
    </div>
      <span class="ProfileTweet-actionCount ">
        <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
      </span>
  </button>
</div>

    <div class="ProfileTweet-action ProfileTweet-action--retweet js-toggleState js-toggleRt">
  <button class="ProfileTweet-actionButton  js-actionButton js-actionRetweet"
    
    data-modal="ProfileTweet-retweet"
    type="button"
    aria-describedby="profile-tweet-action-retweet-count-aria-1017364353635508224">
    <div class="IconContainer js-tooltip" title="Retweet">
      <span class="Icon Icon--medium Icon--retweet"></span>
      <span class="u-hiddenVisually">Retweet</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
  </span>

  </button><button class="ProfileTweet-actionButtonUndo js-actionButton js-actionRetweet" data-modal="ProfileTweet-retweet" type="button">
    <div class="IconContainer js-tooltip" title="Undo retweet">
      <span class="Icon Icon--medium Icon--retweet"></span>
      <span class="u-hiddenVisually">Retweeted</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
  </span>

  </button>
</div>


    <div class="ProfileTweet-action ProfileTweet-action--favorite js-toggleState">
  <button class="ProfileTweet-actionButton js-actionButton js-actionFavorite" type="button"
    aria-describedby="profile-tweet-action-favorite-count-aria-1017364353635508224">
    <div class="IconContainer js-tooltip" title="Like">
      <span role="presentation" class="Icon Icon--heart Icon--medium"></span>
      <div class="HeartAnimation"></div>
      <span class="u-hiddenVisually">Like</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
  </span>

  </button><button class="ProfileTweet-actionButtonUndo ProfileTweet-action--unfavorite u-linkClean js-actionButton js-actionFavorite" type="button">
    <div class="IconContainer js-tooltip" title="Undo like">
      <span role="presentation" class="Icon Icon--heart Icon--medium"></span>
      <div class="HeartAnimation"></div>
      <span class="u-hiddenVisually">Liked</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
  </span>

  </button>
</div>


    

    

  </div>

</div>
  



      
      

      
        <div class="self-thread-context">
  Show this thread
</div>


      

    </div>

  </div>


