


  <div class="tweet js-stream-tweet js-actionable-tweet js-profile-popup-actionable dismissible-content
       original-tweet js-original-tweet
      
      
       has-cards Tweet--invertedColors has-content
"
      
data-tweet-id="1023166191303442433"
data-item-id="1023166191303442433"
data-permalink-path="/chanbaekkailu1/status/1023166191303442433"
data-conversation-id="1023166191303442433"




data-tweet-nonce="1023166191303442433-c7d616ee-a171-4a0e-9762-c4a95900c5d0"







  data-screen-name="chanbaekkailu1" data-name="yami" data-user-id="733363843825467392"
  data-you-follow="false"
  data-follows-you="false"
  data-you-block="false"


data-reply-to-users-json="[{&quot;id_str&quot;:&quot;733363843825467392&quot;,&quot;screen_name&quot;:&quot;chanbaekkailu1&quot;,&quot;name&quot;:&quot;yami&quot;,&quot;emojified_name&quot;:{&quot;text&quot;:&quot;yami&quot;,&quot;emojified_text_as_html&quot;:&quot;yami&quot;}}]"







data-disclosure-type=""




 data-has-cards="true"

















    >

    <div class="context">
      
      
    </div>

    <div class="content">
      

      

      
      <div class="stream-item-header">
          <a  class="account-group js-account-group js-action-profile js-user-profile-link js-nav" href="/chanbaekkailu1" data-user-id="733363843825467392">
      <img class="avatar js-action-profile-avatar" src="https://pbs.twimg.com/profile_images/1275711290728734721/ZDnCgpl7_bigger.jpg" alt="">
    <span class="FullNameGroup">
      <strong class="fullname show-popup-with-id u-textTruncate " data-aria-label-part>yami</strong><span>&rlm;</span><span class="UserBadges"></span><span class="UserNameBreak">&nbsp;</span></span><span class="username u-dir u-textTruncate" dir="ltr" data-aria-label-part>@<b>chanbaekkailu1</b></span></a>

        
        <small class="time">
  <a href="/chanbaekkailu1/status/1023166191303442433" class="tweet-timestamp js-permalink js-nav js-tooltip" title="4:20 AM - 28 Jul 2018"  data-conversation-id="1023166191303442433"><span class="_timestamp js-short-timestamp " data-aria-label-part="last" data-time="1532776804" data-time-ms="1532776804000" data-long-form="true">28 Jul 2018</span></a>
</small>

          <div class="ProfileTweet-action ProfileTweet-action--more js-more-ProfileTweet-actions">
    <div class="dropdown">
  <button class="ProfileTweet-actionButton u-textUserColorHover dropdown-toggle js-dropdown-toggle" type="button">
      <div class="IconContainer js-tooltip" title="More">
        <span class="Icon Icon--caretDownLight Icon--small"></span>
        <span class="u-hiddenVisually">More</span>
      </div>
  </button>
  <div class="dropdown-menu is-autoCentered">
  <div class="dropdown-caret">
    <div class="caret-outer"></div>
    <div class="caret-inner"></div>
  </div>
  <ul>
    
      <li class="copy-link-to-tweet js-actionCopyLinkToTweet">
        <button type="button" class="dropdown-link">Copy link to Tweet</button>
      </li>
      <li class="embed-link js-actionEmbedTweet" data-nav="embed_tweet">
        <button type="button" class="dropdown-link">Embed Tweet</button>
      </li>
  </ul>
</div>

</div>

  </div>

      </div>

      

      


      
        <div class="js-tweet-text-container">
  <p class="TweetTextSize  js-tweet-text tweet-text" lang="ja" data-aria-label-part="0">「あのね、あのね…」

はたらく細胞    血小板<a href="https://t.co/L53Ju4ZseB" class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" >pic.twitter.com/L53Ju4ZseB</a></p>
</div>


      

      
            <div class="AdaptiveMediaOuterContainer">
    <div class="AdaptiveMedia
        
        
        
        
        
        "
      >
      <div class="AdaptiveMedia-container">
          <div class="AdaptiveMedia-quadPhoto">
    <div class="AdaptiveMedia-threeQuartersWidthPhoto">
      <div class="AdaptiveMedia-photoContainer js-adaptive-photo "
  data-image-url="https://pbs.twimg.com/media/DjMENvVVAAA4H9o.jpg"
  
  
  data-element-context="platform_photo_card"
    style="background-color:rgba(64,61,38,1.0);"
    data-dominant-color="[64,61,38]"
>
  <img data-aria-label-part src="https://pbs.twimg.com/media/DjMENvVVAAA4H9o.jpg" alt=""
      style="width: 100%; top: -62px;"
>
</div>


    </div>
  <div class="AdaptiveMedia-thirdHeightPhotoContainer">
      <div class="AdaptiveMedia-thirdHeightPhoto">
        <div class="AdaptiveMedia-photoContainer js-adaptive-photo "
  data-image-url="https://pbs.twimg.com/media/DjMENvVU4AAaKJS.jpg"
  
  
  data-element-context="platform_photo_card"
    style="background-color:rgba(64,53,48,1.0);"
    data-dominant-color="[64,53,48]"
>
  <img data-aria-label-part src="https://pbs.twimg.com/media/DjMENvVU4AAaKJS.jpg" alt=""
      style="height: 100%; left: -4px;"
>
</div>


      </div>      
      <div class="AdaptiveMedia-thirdHeightPhoto">
        <div class="AdaptiveMedia-photoContainer js-adaptive-photo "
  data-image-url="https://pbs.twimg.com/media/DjMENvWU0AA5K_L.jpg"
  
  
  data-element-context="platform_photo_card"
    style="background-color:rgba(40,57,64,1.0);"
    data-dominant-color="[40,57,64]"
>
  <img data-aria-label-part src="https://pbs.twimg.com/media/DjMENvWU0AA5K_L.jpg" alt=""
      style="width: 100%; top: -31px;"
>
</div>


      </div>      
      <div class="AdaptiveMedia-thirdHeightPhoto">
        <div class="AdaptiveMedia-photoContainer js-adaptive-photo "
  data-image-url="https://pbs.twimg.com/media/DjMENvXU4AATqrw.jpg"
  
  
  data-element-context="platform_photo_card"
    style="background-color:rgba(64,53,47,1.0);"
    data-dominant-color="[64,53,47]"
>
  <img data-aria-label-part src="https://pbs.twimg.com/media/DjMENvXU4AATqrw.jpg" alt=""
      style="width: 100%; top: -20px;"
>
</div>


      </div>      
  </div>
</div>

      </div>
    </div>
  </div>




      
      

      
      <div class="stream-item-footer">
  
      <div class="ProfileTweet-actionCountList u-hiddenVisually">
    
    
    <span class="ProfileTweet-action--reply u-hiddenVisually">
      <span class="ProfileTweet-actionCount"  data-tweet-stat-count="888">
        <span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-reply-count-aria-1023166191303442433" data-aria-label-part>888 replies</span>
      </span>
    </span>
    <span class="ProfileTweet-action--retweet u-hiddenVisually">
      <span class="ProfileTweet-actionCount"  data-tweet-stat-count="30598">
        <span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-retweet-count-aria-1023166191303442433" data-aria-label-part>30,598 retweets</span>
      </span>
    </span>
    <span class="ProfileTweet-action--favorite u-hiddenVisually">
      <span class="ProfileTweet-actionCount"  data-tweet-stat-count="162101">
        <span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-favorite-count-aria-1023166191303442433" data-aria-label-part>162,101 likes</span>
      </span>
    </span>
  </div>

  <div class="ProfileTweet-actionList js-actions" role="group" aria-label="Tweet actions">
    <div class="ProfileTweet-action ProfileTweet-action--reply">
  <button class="ProfileTweet-actionButton js-actionButton js-actionReply"
    data-modal="ProfileTweet-reply" type="button"
    aria-describedby="profile-tweet-action-reply-count-aria-1023166191303442433">
    <div class="IconContainer js-tooltip" title="Reply">
      <span class="Icon Icon--medium Icon--reply"></span>
      <span class="u-hiddenVisually">Reply</span>
    </div>
      <span class="ProfileTweet-actionCount ">
        <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
      </span>
  </button>
</div>

    <div class="ProfileTweet-action ProfileTweet-action--retweet js-toggleState js-toggleRt">
  <button class="ProfileTweet-actionButton  js-actionButton js-actionRetweet"
    
    data-modal="ProfileTweet-retweet"
    type="button"
    aria-describedby="profile-tweet-action-retweet-count-aria-1023166191303442433">
    <div class="IconContainer js-tooltip" title="Retweet">
      <span class="Icon Icon--medium Icon--retweet"></span>
      <span class="u-hiddenVisually">Retweet</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
  </span>

  </button><button class="ProfileTweet-actionButtonUndo js-actionButton js-actionRetweet" data-modal="ProfileTweet-retweet" type="button">
    <div class="IconContainer js-tooltip" title="Undo retweet">
      <span class="Icon Icon--medium Icon--retweet"></span>
      <span class="u-hiddenVisually">Retweeted</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
  </span>

  </button>
</div>


    <div class="ProfileTweet-action ProfileTweet-action--favorite js-toggleState">
  <button class="ProfileTweet-actionButton js-actionButton js-actionFavorite" type="button"
    aria-describedby="profile-tweet-action-favorite-count-aria-1023166191303442433">
    <div class="IconContainer js-tooltip" title="Like">
      <span role="presentation" class="Icon Icon--heart Icon--medium"></span>
      <div class="HeartAnimation"></div>
      <span class="u-hiddenVisually">Like</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
  </span>

  </button><button class="ProfileTweet-actionButtonUndo ProfileTweet-action--unfavorite u-linkClean js-actionButton js-actionFavorite" type="button">
    <div class="IconContainer js-tooltip" title="Undo like">
      <span role="presentation" class="Icon Icon--heart Icon--medium"></span>
      <div class="HeartAnimation"></div>
      <span class="u-hiddenVisually">Liked</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
  </span>

  </button>
</div>


    

    

  </div>

</div>
  



      
      

      
        <div class="self-thread-context">
  Show this thread
</div>


      

    </div>

  </div>


