


  <div class="tweet js-stream-tweet js-actionable-tweet js-profile-popup-actionable dismissible-content
       original-tweet js-original-tweet
      
      
       has-cards Tweet--invertedColors has-content
"
      
data-tweet-id="1024429183743733760"
data-item-id="1024429183743733760"
data-permalink-path="/galacticnoel/status/1024429183743733760"
data-conversation-id="1024429183743733760"




data-tweet-nonce="1024429183743733760-4ca57938-4481-44cf-b500-cc5720222c32"







  data-screen-name="galacticnoel" data-name="NØEL" data-user-id="942897612633624576"
  data-you-follow="false"
  data-follows-you="false"
  data-you-block="false"
 data-mentions="sushitrash"

data-reply-to-users-json="[{&quot;id_str&quot;:&quot;942897612633624576&quot;,&quot;screen_name&quot;:&quot;galacticnoel&quot;,&quot;name&quot;:&quot;N\u00d8EL&quot;,&quot;emojified_name&quot;:{&quot;text&quot;:&quot;N\u00d8EL&quot;,&quot;emojified_text_as_html&quot;:&quot;N\u00d8EL&quot;}},{&quot;id_str&quot;:&quot;2579706949&quot;,&quot;screen_name&quot;:&quot;sushitrash&quot;,&quot;name&quot;:&quot;JOJI #BLACKLIVESMATTER&quot;,&quot;emojified_name&quot;:{&quot;text&quot;:&quot;JOJI #BLACKLIVESMATTER&quot;,&quot;emojified_text_as_html&quot;:&quot;JOJI #BLACKLIVESMATTER&quot;}}]"







data-disclosure-type=""




 data-has-cards="true"

















    >

    <div class="context">
      
      
    </div>

    <div class="content">
      

      

      
      <div class="stream-item-header">
          <a  class="account-group js-account-group js-action-profile js-user-profile-link js-nav" href="/galacticnoel" data-user-id="942897612633624576">
      <img class="avatar js-action-profile-avatar" src="https://pbs.twimg.com/profile_images/1135372736195321856/BwKU2uDZ_bigger.png" alt="">
    <span class="FullNameGroup">
      <strong class="fullname show-popup-with-id u-textTruncate " data-aria-label-part>NØEL</strong><span>&rlm;</span><span class="UserBadges"></span><span class="UserNameBreak">&nbsp;</span></span><span class="username u-dir u-textTruncate" dir="ltr" data-aria-label-part>@<b>galacticnoel</b></span></a>

        
        <small class="time">
  <a href="/galacticnoel/status/1024429183743733760" class="tweet-timestamp js-permalink js-nav js-tooltip" title="3:58 PM - 31 Jul 2018"  data-conversation-id="1024429183743733760"><span class="_timestamp js-short-timestamp " data-aria-label-part="last" data-time="1533077925" data-time-ms="1533077925000" data-long-form="true">31 Jul 2018</span></a>
</small>

          <div class="ProfileTweet-action ProfileTweet-action--more js-more-ProfileTweet-actions">
    <div class="dropdown">
  <button class="ProfileTweet-actionButton u-textUserColorHover dropdown-toggle js-dropdown-toggle" type="button">
      <div class="IconContainer js-tooltip" title="More">
        <span class="Icon Icon--caretDownLight Icon--small"></span>
        <span class="u-hiddenVisually">More</span>
      </div>
  </button>
  <div class="dropdown-menu is-autoCentered">
  <div class="dropdown-caret">
    <div class="caret-outer"></div>
    <div class="caret-inner"></div>
  </div>
  <ul>
    
      <li class="copy-link-to-tweet js-actionCopyLinkToTweet">
        <button type="button" class="dropdown-link">Copy link to Tweet</button>
      </li>
      <li class="embed-link js-actionEmbedTweet" data-nav="embed_tweet">
        <button type="button" class="dropdown-link">Embed Tweet</button>
      </li>
  </ul>
</div>

</div>

  </div>

      </div>

      

      


      
        <div class="js-tweet-text-container">
  <p class="TweetTextSize  js-tweet-text tweet-text" lang="und" data-aria-label-part="0"><img class="Emoji Emoji--forText" src="https://abs.twimg.com/emoji/v2/72x72/1f920.png" draggable="false" alt="🤠" title="Cowboy hat face" aria-label="Emoji: Cowboy hat face"> <a href="/sushitrash" class="twitter-atreply pretty-link js-nav" dir="ltr" data-mentioned-user-id="2579706949" ><s>@</s><b>sushitrash</b></a><a href="https://t.co/Syr06eXwjz" class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" >pic.twitter.com/Syr06eXwjz</a></p>
</div>


      

      
            <div class="AdaptiveMediaOuterContainer">
    <div class="AdaptiveMedia
        
        is-square
        
        
        
        "
      >
      <div class="AdaptiveMedia-container">
          <div class="AdaptiveMedia-singlePhoto"
    style="padding-top: calc(1.7786666666666666 * 100% - 0.5px);"
>
    <div class="AdaptiveMedia-photoContainer js-adaptive-photo "
  data-image-url="https://pbs.twimg.com/media/DjeAXB9W4AEH92Z.jpg"
  
  
  data-element-context="platform_photo_card"
    style="background-color:rgba(64,56,51,1.0);"
    data-dominant-color="[64,56,51]"
>
  <img data-aria-label-part src="https://pbs.twimg.com/media/DjeAXB9W4AEH92Z.jpg" alt=""
      style="width: 100%; top: -165px;"
>
</div>


</div>
      </div>
    </div>
  </div>




      
      

      
      <div class="stream-item-footer">
  
      <div class="ProfileTweet-actionCountList u-hiddenVisually">
    
    
    <span class="ProfileTweet-action--reply u-hiddenVisually">
      <span class="ProfileTweet-actionCount"  data-tweet-stat-count="46">
        <span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-reply-count-aria-1024429183743733760" data-aria-label-part>46 replies</span>
      </span>
    </span>
    <span class="ProfileTweet-action--retweet u-hiddenVisually">
      <span class="ProfileTweet-actionCount"  data-tweet-stat-count="2146">
        <span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-retweet-count-aria-1024429183743733760" data-aria-label-part>2,146 retweets</span>
      </span>
    </span>
    <span class="ProfileTweet-action--favorite u-hiddenVisually">
      <span class="ProfileTweet-actionCount"  data-tweet-stat-count="13653">
        <span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-favorite-count-aria-1024429183743733760" data-aria-label-part>13,653 likes</span>
      </span>
    </span>
  </div>

  <div class="ProfileTweet-actionList js-actions" role="group" aria-label="Tweet actions">
    <div class="ProfileTweet-action ProfileTweet-action--reply">
  <button class="ProfileTweet-actionButton js-actionButton js-actionReply"
    data-modal="ProfileTweet-reply" type="button"
    aria-describedby="profile-tweet-action-reply-count-aria-1024429183743733760">
    <div class="IconContainer js-tooltip" title="Reply">
      <span class="Icon Icon--medium Icon--reply"></span>
      <span class="u-hiddenVisually">Reply</span>
    </div>
      <span class="ProfileTweet-actionCount ">
        <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
      </span>
  </button>
</div>

    <div class="ProfileTweet-action ProfileTweet-action--retweet js-toggleState js-toggleRt">
  <button class="ProfileTweet-actionButton  js-actionButton js-actionRetweet"
    
    data-modal="ProfileTweet-retweet"
    type="button"
    aria-describedby="profile-tweet-action-retweet-count-aria-1024429183743733760">
    <div class="IconContainer js-tooltip" title="Retweet">
      <span class="Icon Icon--medium Icon--retweet"></span>
      <span class="u-hiddenVisually">Retweet</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
  </span>

  </button><button class="ProfileTweet-actionButtonUndo js-actionButton js-actionRetweet" data-modal="ProfileTweet-retweet" type="button">
    <div class="IconContainer js-tooltip" title="Undo retweet">
      <span class="Icon Icon--medium Icon--retweet"></span>
      <span class="u-hiddenVisually">Retweeted</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
  </span>

  </button>
</div>


    <div class="ProfileTweet-action ProfileTweet-action--favorite js-toggleState">
  <button class="ProfileTweet-actionButton js-actionButton js-actionFavorite" type="button"
    aria-describedby="profile-tweet-action-favorite-count-aria-1024429183743733760">
    <div class="IconContainer js-tooltip" title="Like">
      <span role="presentation" class="Icon Icon--heart Icon--medium"></span>
      <div class="HeartAnimation"></div>
      <span class="u-hiddenVisually">Like</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
  </span>

  </button><button class="ProfileTweet-actionButtonUndo ProfileTweet-action--unfavorite u-linkClean js-actionButton js-actionFavorite" type="button">
    <div class="IconContainer js-tooltip" title="Undo like">
      <span role="presentation" class="Icon Icon--heart Icon--medium"></span>
      <div class="HeartAnimation"></div>
      <span class="u-hiddenVisually">Liked</span>
    </div>
      <span class="ProfileTweet-actionCount">
    <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
  </span>

  </button>
</div>


    

    

  </div>

</div>
  



      
      

      
        <div class="self-thread-context">
  Show this thread
</div>


      

    </div>

  </div>


